* {
    background-color: black;
    color: white;    
}

.container {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.intro-title {
    font-size: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.intro-title h1 {
    margin-bottom: 5px;
}

.intro-para {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 90px;
    font-size: 28px; /* Adjusted for better readability */
    max-width: 475px; /* Adjust max-width as needed */
} 

.intro-title img {
    width: 440px; /* Set to your desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensures responsiveness */
}

.contact-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 30px; /* Smaller font size for smaller screens */
    }

    .intro-para {
        font-size: 16px; /* Adjust font size for better readability */
    }

    .contact-container {
        gap: 15px; /* Adjust gap for smaller screens */
    }
}